@import "_l-team";

section {
    margin-top: 4em;
    margin-bottom: 4em;
}

.heading-text {
    color: whitesmoke;
    text-decoration: underline yellow;
    font-size: 2.5rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 1em;
}