<!--
    templateType: page
    label: Basic Page
    isAvailableForNewContent: true
-->
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ content.html_title }}</title>
    <meta name="description" content="{{ content.meta_description }}">
    {{ require_css(get_asset_url("../css/main.css")) }} 
    {{ standard_header_includes }}
  </head>
  <body>
    {% widget_container "my_flexible_column" label="Content Modules" %}{% end_widget_container %}
    <div class="page-wrap">
    {# global header #}
    {% global_partial path="./partials/header.html" %}
       
        <div class="content">
           {# custom rich text module #}
            {% module_block module "my_rich_text_module" path="@hubspot/rich_text", label="My custom richText"%}
              {% module_attribute "html" %}
                <h2>This headline is not static</h2>
                <p>This paragrapg is not either!!!</p>
              {% end_module_attribute %} 
            {% end_module_block%}
        </div>

    {# global header #}
    {% global_partial path="./partials/footer.html" %}
    </div>
    {# MUST HAVE #}
    {{ standard_footer_includes }}
  </body>
</html>
